@import url('https://fonts.googleapis.com/css2?family=Averia+Gruesa+Libre&display=swap');

body {
  margin: 0;
  font-family: "Averia Gruesa Libre", system-ui;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(180deg, #6F29D1 0%, #39156B 100%);
}

#root {
  width: 100vw;
  height: 100vh;
}